.banquet-hall-container {
    text-align: center;
    background-color: #f4f4f4; /* Light background color */
    padding: 20px;
}

h1 {
    color: #333; /* Dark text for contrast */
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px; /* Adjust based on preference */
    border-radius: 10px;
    background-color: white; /* Card background */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
.banner img {
    width: 100%;
    object-fit: cover; /* Ensures the image covers the area without stretching */
}
.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0; /* Round corners at the top */
}

/* Responsive design */
@media (max-width: 600px) {
    .image-gallery {
        flex-direction: column;
    }

    .card {
       width: 100%; 
        margin: 10px auto; /* Center cards on small screens */
    }
}


/* Footer.css */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-details p {
    margin: 0;
    padding: 5px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
}

.social-icons a:hover {
    color: #ddd;
}

