h1 {
    text-align: center;
    margin-top: 1.5rem;
    color: #444;
  }

  h2 {
    margin-top: 0.5rem;
    color: #555;
  }

  p {
    line-height: 1.5;
    margin: 1rem 20px;
  }
.privacy-heading{
  font-size: 1.3vw !important;
}
  /* Container styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Link styles */
  a {
    color: #3366BB;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }